
.header nav  .navbar , .header nav .nav-mobile .menu .menu-list{
    list-style: none;
}
header nav .nav-mobile .menu , .header nav  ,.header nav  .navbar, .header nav .nav-mobile .menu .menu-list, .header nav .nav-mobile .mobile-navbar,.header nav .nav-mobile .menu .footer .social {
    display: flex;
    align-items: center;
}
.header nav .nav-mobile .mobile-navbar, .header nav  , .header nav .nav-mobile .menu .menu-list {
    justify-content: space-between;
}
.header nav  .navbar{
    width: 80%;
    justify-content: center;

}
@media  (max-width:768px) {
    .header nav  .navbar{
        display: none;
    }
}
.header nav  .navbar li {
    position: relative;


}
.header nav  .navbar li:not(:last-of-type){
    margin-inline-end: 25px;
}
.header nav .nav-mobile .menu .menu-list a{
    text-transform: uppercase;
    font-weight: bold;
}

.header nav .nav-mobile .menu a{
    text-decoration: none;
    
}

.header nav .nav-mobile .menu .footer,.header nav .nav-mobile .menu .menu-list li,.header nav .nav-mobile button > div {
    width: 100%;
}
.header nav  .nav-scroll:hover{
    color: white;
}

.header nav .nav-mobile .menu .menu-list{
    height: 65%;
    padding: 15% 0;
    width: 100%;
}
.header nav .nav-mobile .menu .menu-list, .header nav .nav-mobile .menu{
    flex-direction: column;
}
.header nav .nav-mobile .menu .menu-list li,.header nav .nav-mobile .menu .footer{
    text-align: center;
}
.header nav .nav-mobile .menu .menu-list li {
}
.header nav .nav-mobile .menu .menu-list a{
    font-size: 2rem;
}
.header nav .nav-mobile .menu .footer{
    position: relative;
    height: 35%;
    overflow: hidden;
    color: black;
}

.header nav .nav-mobile .menu .footer h3{
    padding: 1rem;
    font-weight: normal;
    font-size: 1.6rem;

}
.header nav .nav-mobile .menu .footer .social{
    justify-content: space-around;
    padding: 1rem 10rem;
    font-size: 1.8rem;
}

