.work{
    & .pargraph{
        & ul {
            list-style: none;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items: center;
            height: 100%;
            transition: transform .5s ease-in;
            width: fit-content;
            transform-origin:  center center ;
            backface-visibility: hidden;
            margin: 0 auto;
            will-change :transform;
            & li {
                position: relative;
                overflow: hidden;
                //margin-bottom: 2rem;
                padding: 2.5rem 0;
                @media (max-width:768px) {
                }
                & h2{
                    font-size: 10rem;
                    text-transform: capitalize;
                    height: 100%;
                    @media (max-width:900px) {
                        font-size: 6rem;  
                    }
                    @media (max-width:768px) {
                        font-size: 3rem;  
                    }
                    &:hover{
                        color: white;
                        & ~ div img{
                            visibility: visible;
                            opacity: 1;
                            transform: translate(-50%,-50%);
                            pointer-events: none;
                            
                        }
                    }
                }
                & > div{
                    & img{
                        position: absolute;
                        width: auto;
                        height: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,35%);
                        transition: all .5s ease-in;
                        //transition: opacity .5s ease-in;
                        visibility: hidden;
                        opacity: 0;
                    }
                }
            }
            &:hover {
                color:rgba($color: white, $alpha: .5);
            }
        }
    
    }
}

.test{
    text-decoration: none;
    cursor: pointer;
    transform-origin: center center;
    transition: transform .3s ease-out;
}