footer{
    //background-color: #d2d2d2;
    /*& .text{
        font-family: "Qualified";
        text-align: center;
        font-size: 10rem;
        color: #d2d2d2;
    }*/
    /*& .social{
        display: flex;
        justify-content:space-between;
        align-items: center;
        & > div h4{
            font-weight: normal;
            font-size: 1.2rem;
        }
    }*/
    & .social ul{
        display: flex;
        justify-content:space-between;
        align-items: center;
        list-style: none;
        
        //width: 4.5%;
        & li{
            font-size: 1.8rem;
            width: 100%;
            &:not(:last-child){
                margin-right: 2rem; 
            }
            
        }   
    }
} 
